In [ ]:
# variables and print
# integer variables
x = 5
y = 6
z = 1 + 2
print(x, y, z)
z = x + y
print(x, y, z)
z = 3*x
print(z)

5 6 3
5 6 11
15

In [ ]:
# multiple assignments
a , b = 'Alice' , 12

In [ ]:
# float variables
d = 3.2
print(d + z)

18.2

In [ ]:
# string variables
s = 'my name is '
t = 'Alice'
w = s + t # '+' in strings means concatenation
print(s, t)
print(w)
r = s * 4
print(r)
print(f'Hello, {t}!')

my name is  Maximos
my name is Maximos
my name is my name is my name is my name is
Hello, Maximos!

In [ ]:
# Boolean variables
b = True
print(b)
c = False
print(b + c)
print(b and c)
print(b or c)
print(not b)

True
1
False
True
False

In [ ]:
# identify type
x = 3
print(type(x))
y = 3.14
print(type(y))
s = 'Hello!'
print(type(s))
b = True
print(type(b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
print( 'x =', x )
# print( 'x =' + x )
# print( x + 'x =' )
# numeric to string
print( 'x = ' + str(x) )
# TODO: show str individually

x = 5
x = 5

In [ ]:
# special string operations
s = 'This is a string - that needs to be - splitted'
t = s.split('-')
print(t)
t = s.replace(' ', '_')
print(t)
# lower and upper
s_upper = s.upper()
print(s_upper)
s_lower = s.lower()
print(s_lower)
# TODO str of numeric
# TODO str to int
x = '54'
print(type(x))
y = int(x)
print(type(y))
print(y)
z = float(x)
print(type(z))
print(z)

['This is a string ', ' that needs to be ', ' splitted']
This_is_a_string_-_that_needs_to_be_-_splitted
THIS IS A STRING - THAT NEEDS TO BE - SPLITTED
this is a string - that needs to be - splitted
<class 'str'>
<class 'int'>
54
<class 'float'>
54.0

In [ ]:
print('lala'.isdigit())
print('54'.isdigit())

False
True